vendor
storage/*.key
.env
.phpunit.result.cache
docker-compose.yml
Dockerfile
.git
.gitignore
node_modules
public/build
public/hot
public/storage
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*.php
storage/logs/*.log
database/*.sqlite
database/*.sqlite-journal
bootstrap/cache/*.php
